@model Posp.Models.Item

<div>
    <h4>Item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ITCODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ITCODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ITDESC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ITDESC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ITRATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ITRATE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ITCODE.Trim() }) |
    @Html.ActionLink("Back to List", "Index")
</p>
